In [94]:
import numpy as np

In [95]:
tip_data=np.genfromtxt(("/content/tipsf (2).csv"),delimiter=",",dtype=None,skip_header=1,encoding="utf-8")

In [96]:
#1 What is the total bill value?
total_bill=tip_data["f1"]
total_bill=np.sum(total_bill)
print("the total bill value is : ",total_bill)
# the total bill value is :  4827.77

the total bill value is :  4827.77

In [97]:
#2 What is the total tip value?
total_tip1=tip_data["f2"]
total_tip=np.sum(total_tip1)
print("the total tip value is :",total_tip)
# the total tip value is : 731.5799999999999

the total tip value is : 731.5799999999999

In [108]:
#3 Count how many Sunday, Saturday, Thursday,friday,are there.(0 is sunday,1 is saturday,2 is friday,3 is thursday)
day=tip_data["f5"]
sunday_count=np.sum(day==0)
print("the count of sundays is : ",sunday_count)
# the count of sundays is :  87

the count of sundays is :  87

In [100]:
day=tip_data["f5"]
saturday_count=np.sum(day==1)
print("the count of saturdays is : ",saturday_count)
# the count of saturdays is :  76

the count of saturdays is :  76

In [98]:
day=tip_data["f5"]
friday_count=np.sum(day==2)
print("the count of fridays is : ",friday_count)
# the count of fridays is :  62

the count of fridays is :  62

In [102]:
day=tip_data["f5"]
thurday_count=np.sum(day==3)
print("the count of thurdays is : ",thurday_count)
# the count of thurdays is :  19

the count of thurdays is :  19

In [103]:
unique,counts=np.unique(day,return_counts=True)
day_counts=dict(zip(unique,counts))
print("day counts",day_counts)

day counts {0: 87, 1: 76, 2: 62, 3: 19}

In [104]:
print("the sundays counts is :",day_counts[0])
# the sundays counts : is 87
print("the saturdays counts is :",day_counts[1])
 # the saturdays counts is : 76
print("the fridays counts is :",day_counts[2])
# the fridays counts is : 62
print("the thusrdays counts is :",day_counts[3])
# the thusrdays counts is : 19

the sundays counts is : 87
the saturdays counts is : 76
the fridays counts is : 62
the thusrdays counts is : 19

In [105]:
#4 How many smokers are there?
smoker=tip_data["f4"]
unique1,count1=np.unique(smoker,return_counts=True)
smoker_counts=dict(zip(unique1,count1))
smoker_counts
# here 0 is smoker,1 is non smoker
print("the total smokers counts is :",smoker_counts[0])
# the total smokers counts is : 151
print("the total non-smokers counts is ",smoker_counts[1])
# the total non-smokers counts is  93

the total smokers counts is : 151
the total non-smokers counts is  93

In [106]:
#5  What is the average tip given by females and males?
sex=tip_data["f3"]
# here sex 0 is female and 1 is male
female_tip_avg=np.mean(total_tip1[sex==0])
print(" the average tip  of female is : ",female_tip_avg)
# the average tip  of female is :  2.8334482758620685

 the average tip  of female is :  2.8334482758620685

In [107]:
male_tip_avg=np.mean(total_tip1[sex==1])
print("the average tip of male is :",male_tip_avg)
# the average tip of male is : 3.0896178343949043

the average tip of male is : 3.0896178343949043

In [109]:
#6 How many males and females are going for dinner and lunch.
time=tip_data["f6"]
# here 0 is dinner and 1 is lunch
female_dinner=np.sum((sex==0) & (time==0))
print("females going for dinner is :",female_dinner)
# females going for dinner is : 52

females going for dinner is : 52

In [110]:
female_lunch=np.sum((sex==0) & (time==1))
print("females going for lunch is :",female_lunch)
# females going for lunch is : 35

females going for lunch is : 35

In [111]:
male_dinner=np.sum((sex==1) &(time==0))
print("males going for dinner is :",male_dinner)
# males going for dinner is : 124
male_lunch=np.sum((sex==1) & (time==1))
print("males going for lunch is :",female_lunch)
# males going for lunch is : 35

males going for dinner is : 124
males going for lunch is : 35

In [48]:
#7  What is the min and max tip given?
max=tip_data["f2"]
max_tip=np.max(max)
print("maximum tip  is :",max_tip)

maximum tip  is : 10.0

In [50]:
min=tip_data["f2"]
min_tip=np.min(min)
print("minimum tip is : ",min_tip)

minimum tip is :  1.0

In [72]:
 #8  How much amount has been spent by female and male.
female=np.sum(sex==0)
total_bill=tip_data["f1"]
females_bill=np.sum(total_bill[sex==0])
print("the total amount spent by females is :",females_bill)
# the total amount spent by females is : 1570.9499999999996

the total amount spent by females is : 1570.9499999999996

In [73]:
male=np.sum(sex==0)
males_bill=np.sum(total_bill[sex==1])
print("the total amount spent by male is :",males_bill)
# the total amount spent by male is : 3256.8199999999997

the total amount spent by male is : 3256.8199999999997

In [113]:
#9 Find out the AVG size.
size=tip_data["f7"]
avg=np.mean(size)
print("the average size is :",avg)
# the average size is : 2.569672131147541

the average size is : 2.569672131147541

In [89]:
#10 Find out how many male,female smokers are there.
smoker=tip_data["f4"]
smokers1=np.sum(smoker==0)
female_smokers=np.sum(smoker[sex==0])
print("the total female smoker are :",female_smokers)

the total female smoker are : 33

In [90]:
female_smokers=np.sum((smoker==0) & (sex==0))
print("the total female smoker are :",female_smokers)
# the total female smoker are : 54

the total female smoker are : 54

In [93]:
male_smokers=np.sum((smoker==0) & (sex==1))
print("the total male smoker are :",male_smokers)
# the total male smoker are : 97

the total male smoker are : 97